fastapi[standard]
uvicorn[standard]
jinja2
Babel
python-multipart
itsdangerous
mercadopago



# Dependências de teste
pytest
pytest-asyncio
pytest-cov

# Dependências de autenticação

passlib[bcrypt]
python-jose[cryptography]

# DTO e validação
pydantic>=2.0.0
email-validator>=2.0.0