fastapi[standard]
uvicorn[standard]
jinja2
Babel
python-multipart
itsdangerous
mercadopago
Pillow
resend



# Dependências de teste
pytest
pytest-asyncio
pytest-cov

# Dependências de autenticação

passlib[bcrypt]==1.7.4
bcrypt>=3.2.0,<4.0.0
python-jose[cryptography]

# DTO e validação
pydantic>=2.0.0
email-validator>=2.0.0