{% extends "base_authenticated.html" %}

{#
    Template: Base Prestador
    Descrição: Template base para páginas do prestador
    Estende: base_authenticated.html
#}

{% from 'components/user_dropdown.html' import user_dropdown %}

{% block titulo %}{% block prestador_titulo %}Prestador{% endblock %}{% endblock %}

{% block navbar_search %}
<form class="d-flex ms-auto align-items-center" role="search">
    <input class="form-control me-2 rounded rounded-4" type="text"
        placeholder="Busque pelos melhores serviços" aria-label="Search">
    <a href="#" class="text-white me-3">
        <i class="bi bi-search"></i>
    </a>
</form>
{% endblock %}

{% block navbar_menu %}
{% if usuario_logado %}
    {% set menu_prestador = [
        {'url': '/prestador/perfil', 'icon': 'person', 'label': 'Perfil'},
        {'url': '/prestador/home', 'icon': 'house', 'label': 'Home'},
        {'url': '/prestador/servicos', 'icon': 'tools', 'label': 'Meus Serviços'},
        {'url': '/prestador/contratacoes', 'icon': 'briefcase', 'label': 'Minhas Contratações'},
        {'url': '/prestador/solicitacoes', 'icon': 'list-check', 'label': 'Solicitações'},
        {'url': '/prestador/agenda', 'icon': 'calendar', 'label': 'Agenda'},
        {'divider': True},
        {'url': '/logout', 'icon': 'box-arrow-right', 'label': 'Sair', 'danger': True}
    ] %}
    {{ user_dropdown(usuario_logado, menu_prestador, default_label='Prestador') }}
{% else %}
    <a href="/login" class="text-white">
        <h5><strong>ENTRAR</strong></h5>
    </a>
{% endif %}
{% endblock %}

{% block conteudo %}
{% block prestador_conteudo %}{% endblock %}
{% endblock %}

{% block scripts %}
{% block prestador_scripts %}{% endblock %}
{% endblock %}
